body{
    
    font-family: 'Poppins', sans-serif;
    margin: 0;


}

h1{

    font-size: 50px;

}


.hcolor{color: orange;

}

section{
    display: flex;
    margin-bottom: 100px;
}

.psiz1{

    width: 50%;
padding-left: 5%;

}

.esize2 img{

    width: 80%;

}

.linkb{


    background-image:linear-gradient(orange, tomato);
    text-decoration: none;
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

.top-bannaer{
    background-image:url(images/top-banner.png) ;
    background-repeat: no-repeat;

}

.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}