body{
    font-family: 'Poppins', sans-serif;
   
}

h1{
    font-size: 400%;
    
}

.mission-color{
    color: tomato;
}

.bordar-1{
    border-left: 5px olivedrab solid;
    border-radius: 3px;
    height: 40%;
    
}

section{
    display: flex;
}

.half-width{
    width: 50%;
    padding: 5%;
}

.half-width img{
    width: 80%;
    
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(green, orange);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}